<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yoga Asanas</title>
    <link rel="stylesheet" type="text/css" href="static\\yoga-style.css">
</head>
<body>
    <h1>YOGA ASANAS</h1>
    <div class="wrapper">
          <!-- First row of 3 cards -->
          <div class="row">
              <div class="card">
                  <input type="checkbox" id="card1" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\Trikonasana.jpg');">
                          <div class="inner">
                              <h2>Trikonasana</h2>
                              
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It helps in reducing excess body weight, strengthens legs and arms, and helps in improving digestion.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <input type="checkbox" id="card2" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\Virabadrasana.png');">
                          <div class="inner">
                              <h2>Virabadrasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It strengthens legs, improves balance, enhances focus, and instills a sense of determination and resilience.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <input type="checkbox" id="card3" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\Vrikshasana.png');">
                          <div class="inner">
                              <h2>Vrikshasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It improves the strength of your back and legs and tends to improve your balance when practiced regularly.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          <!-- Second row of 3 cards -->
          <div class="row">
              <div class="card">
                  <input type="checkbox" id="card7" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image:url('static\\img\\Bhujangasana.png')">
                          <div class="inner">
                              <h2>Bhujangasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It Improves blood circulation and strengthens the lower back and muscles of your arms.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <input type="checkbox" id="card8" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\Sukhasana.png');">
                          <div class="inner">
                              <h2>Sukhasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It calms your mind and enhances your peace of mind. It also helps in improving body posture.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <input type="checkbox" id="card9" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image:url('static\\img\\Chakrasana.png');">
                          <div class="inner">
                              <h2>Chakrasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It cures back and kidney pain. It also helps in stimulating the thyroid and pituitary glands.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Third row of 3 cards -->
          <div class="row">
              <div class="card">
                  <input type="checkbox" id="card4" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\Balasana.png');">
                          <div class="inner">
                              <h2>Balasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>This pose is mentally, physically, and emotionally relaxing.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <input type="checkbox" id="card5" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\Shavasana.png');">
                          <div class="inner">
                              <h2>Shavasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It is a relaxation pose and hence relaxes the entire body. It improves memory and concentration and increases memory levels.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
            <div class="try-it-out">
                <a href="{{ url_for('yoga_try') }}">
                    <button>TRY IT OUT</button>
                </a>
            </div>
            
            </div>
            </body>
            </html>